* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
    color: #000;
}
.content {
    width: 75%;
    height: 100vh;
    background-color: #fff;
    padding: 10px;
}
nav {
    background-color: hsla(20, 50%, 50%, 0.5);
    padding: 10px;
}
nav a {
    background-color: #eee;
    padding: 11px;
}
nav a:hover, nav button:hover {
    border-bottom: 2px solid #000;
}
nav button {
    position: absolute;
    top: 91px;
    right: 200px;
    border: none;
    background-color: #eee;
    padding: 12px;
    outline: none;
    cursor: pointer;
}
.election-cards {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.election-card {
    border: 3px solid hsla(200, 50%, 50%, 0.8);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 275px;
    background-color: hsla(200, 50%, 50%, 0.2);
    min-height: 225px;
}
.election-card p {
    margin: 7px;
}
.election-card p span:first-child {
    font-weight: bold;
}
.election-card p:last-child {
    margin: 10px 7px;
    font-weight: bolder;
}